*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #081120,
        #0f2f56,
        #122e6f
    );

    overflow:hidden;
}

.background{

    position:fixed;

    width:700px;
    height:700px;

    background:radial-gradient(circle,#4f8cff55,transparent);

    filter:blur(80px);

    border-radius:50%;

    z-index:0;
}

.card{

    position:relative;

    z-index:1;

    width:420px;

    padding:40px;

    border-radius:24px;

    background:rgba(18,25,40,.88);

    backdrop-filter:blur(20px);

    box-shadow:
    0 0 50px rgba(0,0,0,.4);

}

.logo{

    font-size:55px;

    text-align:center;

    margin-bottom:10px;

}

h1{

    color:white;

    text-align:center;

    font-size:38px;

    margin-bottom:10px;

}

.subtitle{

    color:#c8d2df;

    text-align:center;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:16px;

    margin-bottom:16px;

    border:none;

    border-radius:14px;

    background:#25344e;

    color:white;

    font-size:16px;

}

input::placeholder{

    color:#c4d2e5;

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:14px;

    background:#4d8dff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.25s;

}

button:hover{

    transform:scale(1.02);

}

#status{

    color:white;

    text-align:center;

    margin-top:20px;

}
#homePage{
    display:flex;
    width:100%;
    height:100vh;
}

.sidebar{
    width:240px;
    background:#121b2d;
    padding:20px;
}

.sidebar h2{
    color:white;
    margin-bottom:20px;
}

.sidebar button{
    display:block;
    width:100%;
    margin-bottom:12px;
    background:#24324b;
}

.content{
    flex:1;
    padding:30px;
    color:white;
    overflow:auto;
}

.channels{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:15px;
}

.channel{
    background:#24324b;
    padding:20px;
    border-radius:12px;
    cursor:pointer;
    text-align:center;
}
